.auth-title {
  font-size: 3rem;
  text-align: center;
  color: #e0e0e0;
  font-family: 'Urbanist', sans-serif;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Urbanist', sans-serif !important;
  flex-direction: column;
  height: 90vh;
}

.auth-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.auth-text {
  border-radius: 5px;
  width: 30vh;
  padding: 5px;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.2);
  outline: 0;
}

.auth-box {
  border: 1px solid #e0e0e0;
  height: auto;
  padding: 5%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-label {
  color: #e0e0e0;
}

.auth-submit {
  margin: 10px;
  border: 1px solid #fff;
  background-color: #000000;
  border-radius: 5px;
  width: 75%;
  padding: 5px;
  color: #fff;
}

.auth-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-submit:hover {
  opacity: 0.4;
}

@media (max-width: 768px) {
  .auth-box {
    width: 90%;
  }
  .auth-title {
    font-size: 2.5rem;
  }
}
